* {
    background-color: black;
    color: white;
    font-family: Garamond, sans-serif;
}

h1, .forword {
    text-align: center;
}

h1 {
    color: darkorange;
}

.forword {
    font-size: 16px;
}

.listItem {
    color: darkorange;
}

.link {
    color: orange;
    font-weight: bold;
    font-size: 18px;
}

.centered {
    text-align: center;
}